<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Typing Letters Input</title>
  {% load static %}
  <link rel="stylesheet" type='text/css' href="{% static 'cases/base.css' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1>Type the letters</h1>
  <div class="letter_input">
    <textarea name="typesetText" form='inputform' style="width: 500px; height: 200px;" placeholder="Enter your input here" required></textarea>
    <form action="{% url 'results' %}" method="POST" id='inputform'>
      {% csrf_token %}
    <input type="submit">
    </form>
  </div>
</body>

</html>
