<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Typing Letters Results</title>
  {% load static %}
  {% load mathy %}
  <link rel="stylesheet" type='text/css' href="{% static 'cases/base.css' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="mainback">
    <div class="mainbox">
    <div class="letter_output">
      <h3>Are you sure you'd like to override with new minimums? You Typed:</h3>
      <p>{{ typesetText }}</p>
        <div class="box">
          <!-- <h3>Can't Print</h3> -->
            <div class="resultsbox">
              {% if case.caseprint == 'False' %}
                {% for thecase in case.dict|dictsortreversed:"count" %}
                     {% if forloop.first %}
                      <h3>Character minimums to override for {{thecase.case}}:</h3>
                     {% endif %}

                     {% if thecase.print == 'False'%}
                     <div class="resultitem" style='background-color:#f44336 !important;'>{{ thecase.char }}:{{ thecase.input }}/{{ thecase.database }}</div>
                     {% endif %}


                {% endfor %}
              

              {% endif %}
              <textarea name="typesetText" form='inputform{{ case.id }}' style="display:none;">{{ typesetText }}</textarea>
              <textarea name="typesetCase" form='inputform{{ case.id }}' style="display:none;">{{ case.id }}</textarea>                
              <form action="{% url 'success_minchars' %}" method="POST" id='inputform{{ case.id }}'>
                {% csrf_token %}
              <input type="submit" value="Confirm">
              </form>
            </div>
        </div>


    </div>
  </div>
  </div>



</body>

</html>
