form {
  margin: 0 auto;
  width: 80%;
  background: #ffffff !important;
}
h1{
  text-align: center;
  color: black;
  opacity: 0.67;
}
.letter_input{
  margin: 0 auto;
  text-align: center;
}
.letter_output{
  margin: 0 auto;
  text-align: center;
  width: 80%;
}
input[type="text"]{
  display: inline-block;
  width: 50%;
  margin: 0 auto;
}
input[type="submit"]{
  display: block;
  color: black;
  opacity: 0.67;
  margin: 0 auto;
  width: 20%;
  margin-top: 20px;
}
.resultsbox{
  background-color: rgba(0, 0, 255, 0.08);
  padding: 20px;
}
.resultsfilterbar{
  margin: 10px;
  background-color: rgba(0, 0, 255, 0.08);
}
